<%!
from django.utils.translation import ugettext as _
from crequest.middleware import CrequestMiddleware
try:
    from urllib.parse import urlparse
except ImportError:
     from urlparse import urlparse
%>

<div class="pdf_placeholder" style="width: auto; height: 480px; display: none;"></div>

<div class="pdf_block">
  <h2>${display_name}</h2>
  <%
    host_name_of_pdf_file_url = '{uri.netloc}'.format(uri=urlparse(url))
    current_host_name = CrequestMiddleware.get_request().get_host()
    if host_name_of_pdf_file_url == current_host_name:
      mode = 'h5'
    else:
      mode = 'embed'
    endif
  %>
  % if url != "":
  <div class="pdf-wrapper ${mode}">
    <object class="pdf-h5-container" data="" type="text/html" width="100%" height="600"></object>
    <object class="pdf-embed-container" data="${url}#view=FitH" type="application/pdf" width="100%" height="600"><p>${_("It appears you don't have a PDF plugin for this browser or the PDF URL is invalid.")}</p></object>
  </div>
  % endif

  % if source_url != "":
  <ul>
    ##% if allow_download:
    ##<li class="pdf-download-button">
    ##  <a href="${ url }" download>${_("Download the PDF")}</a>
    ##</li>
    ##% endif
    % if source_url != "":
    <li class="pdf-download-button">
      <a href="${ source_url }" download>
        % if source_text == "":
          ${_("Download the source document")}
        % else:
          ${ source_text }
        % endif
      </a>
    </li>
    % endif
  </ul>
  % endif
</div>
